@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
  --backColor: rgb(57, 57, 57);
  --globalText: rgb(255,255,255);
  --borderColor: solid white 2px;
}

.mode {
  cursor: pointer;
  position: absolute;
  left: 30px;
  top: 30px;
  transition: "all 200ms ease-in-out";
  height: 50px;
  width: auto;
}

.mode:hover {
  transform: scale(105%)
}

body {
  margin: 3% 6% 5% 1%;
  background-color: var(--backColor);
  color: var(--globalText);
  font-family: "Montserrat";
  transition: all 300ms ease-in-out;
}

.categoryContainer {
  margin-bottom: 50px;

  height: 100px;
  width: 75%;
  margin-left: 12%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 100%;
  width: 300px;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.category:hover {
  transform: scale(103%)
}

.calendarContainer {
  margin-left: 10%;
  height: 80vh;
  width: 82%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.dateBlock {
  height: 100px;
  width: 150px;
  background-color: transparent;
  border-radius: 10%;
  color: var(--globalText);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--borderColor);
  margin: 15px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.dateBlock:hover {
  transform: scale(105%);
  box-shadow: 0px 0px 10px white;
}

h1 {
  text-align: center;
}


